.DS_Store
*.a
*.o
*.opensdf
*.pyc
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.*~

/selfhosted.js
/*.Makefile
/*.mk

/Debug
/Makefile
/Release
/build/gyp
/gyp-mac-tool
/ipch
/out
/smjs.xcodeproj
